* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
}

.graph-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  border: 3px solid black;
  width: 80%;
}

.cell {
  border: 2px solid darkorange;
}

.obstacle {
  background-color: black;
}

.head {
  background-color: darkcyan;
}

.fringe {
  background-color: darkred;
}

.closed {
  background-color: darkgray;
}

.start-point {
  background-color: palegreen;
}

.end-point {
  background-color: darkmagenta;
}
